:root{
    --sidebar-blue: #79AEC8;
    --white: #fff;
}
.custom-link-css{
    text-decoration: none;
    color: black;
}
.custom-link-css:hover{
    font-weight: 500;
    color: var(--sidebar-blue);
}
.sidebar-container{
    background-color: var(--sidebar-blue);
    color: var(--white)
}