{% extends "partial/base.html" %}
{% load static %}

{% block title %}
    Dashboard
{% endblock title %}
{% block content %}
<div class="row">
  <div class="col-2">
    <div class="rounded-circle">
      <img
        src="{% static 'img/profile.jpg' %}"
        alt=""
        class="d-block"
        id="img-profile"
      />
    </div>
  </div>
  <div class="col-9 ms-4">
    <h3>Welcome Back</h3>
    <h1>{{ name }}</h1>
    <p>@johndoe</p>
  </div>
</div>
<div class="row my-5 border-bottom border-2 border-black">
  <div class="col-6">
    <button class="btn btn-outline-dark w-100" style="border: none">
      Followers
    </button>
  </div>
  <div class="col-6">
    <button class="btn btn-outline-dark w-100" style="border: none">
      Vidoes
    </button>
  </div>
</div>
<div class="row my-5">
  <div class="col-6">
    <canvas
      data-labels="{{ labels }}"
      data-chart_dat="{{ chart_data }}"
      id="chart"
    ></canvas>
  </div>
  <div class="col-6">
    <div class="row text-center">
      <div class="col-4">
        <div class="personal-info-icon borde w-100">
          <i class="bi bi-heart-fill"></i>
        </div>
        <p>{{ total_likes }}</p>
        <h6>Likes</h6>
      </div>
      <div class="col-4">
        <div class="personal-info-icon w-100">
          <i class="bi bi-share-fill"></i>
        </div>
        <p>{{ total_share }}</p>
        <h6>Shares</h6>
      </div>
      <div class="col-4">
        <div class="personal-info-icon w-100">
          <i class="bi bi-chat-left-fill"></i>
        </div>
        <p>{{ total_comments }}</p>
        <h6>Comments</h6>
      </div>
    </div>
  </div>
</div>
<div class="row my-5">
  <div class="my-2">
    <h3>Analytics Result</h3>
  </div>
  <div class="my-2">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            id="strengthBtn"
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne"
          >
            + Strength
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseOne"
          class="accordion-collapse collapse show"
        >
          <div class="accordion-body">
            <strong>This is the first item's accordion body.</strong> It is
            shown by default, until the collapse plugin adds the appropriate
            classes that we use to style each element. These classes control the
            overall appearance, as well as the showing and hiding via CSS
            transitions. You can modify any of this with custom CSS or
            overriding our default variables. It's also worth noting that just
            about any HTML can go within the <code>.accordion-body</code>,
            though the transition does limit overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            id="weaknessBtn"
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseTwo"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseTwo"
          >
            - Weakness
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseTwo"
          class="accordion-collapse collapse"
        >
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong> It is
            hidden by default, until the collapse plugin adds the appropriate
            classes that we use to style each element. These classes control the
            overall appearance, as well as the showing and hiding via CSS
            transitions. You can modify any of this with custom CSS or
            overriding our default variables. It's also worth noting that just
            about any HTML can go within the <code>.accordion-body</code>,
            though the transition does limit overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            id="todoBtn"
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseThree"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseThree"
          >
            ! To Do
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseThree"
          class="accordion-collapse collapse"
        >
          <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is
            hidden by default, until the collapse plugin adds the appropriate
            classes that we use to style each element. These classes control the
            overall appearance, as well as the showing and hiding via CSS
            transitions. You can modify any of this with custom CSS or
            overriding our default variables. It's also worth noting that just
            about any HTML can go within the <code>.accordion-body</code>,
            though the transition does limit overflow.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}  
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> 
    <script> 
      const reconstructStringJSON = (str) => {
        const jsonString = str.replace(/'/g, '"') // Ganti single quote dengan double quote
        const jsonArray = JSON.parse(jsonString)
        return jsonArray
    }

      let getChart = document.getElementById("chart");
      const chart_draw = getChart.getContext("2d");
      let labels = getChart.getAttribute("data-labels")
      let chart_data = getChart.getAttribute("data-chart_dat")
      labels = reconstructStringJSON(labels)
      chart_data = reconstructStringJSON(chart_data)
      console.log(labels)
      console.log(chart_data)
      let chart = new Chart(chart_draw, {
        type: "bar",
        data: {
          labels: labels,
           datasets: [
              {
                label: "Jumlah Subscribers",
                backgroundColor: "#79AEC8",
                borderColor: "#417690",
                data: chart_data,
              }
           ]
        },
        options: {
           title: {
              text: "Total Subscribers 4 Minggu Terakhir",
              display: true
           }
        }
      });
    </script>
{% endblock script %}